/*--------------------------------------------------------------------
* $BASE
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background: #6DC4FF
  color: black

body
  background-color: var(--mauve2)

body
  display: flex
  flex-direction: column
  min-height: 100vh
