/*--------------------------------------------------------------------
* $BASE
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background: #6DC4FF
  color: black

body
	background-color: var(--mauve2)


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

button
  background-color: var(--crimson1)
  border: 1px solid var(--crimson12)
  box-shadow: $button-shadow
  display: inline-flex;
  align-items: center;
  font-size: $2xl
  border-radius: $round
  padding: 8px
  transition: 0.2s ease all
  &:hover
    opacity: .8

  a
    color:var(--crimson12)

  i
    font-size: 32px
    