/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/
  
.button
  background-color: var(--indigo4)
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  font-family: $font-family-roboto
  padding: .75rem 1.25rem
  gap: 8px;
  font-weight: $medium
  border-radius: $round
  transition: 0.2s ease all
  box-shadow: 4px 4px var(--indigo10)
  &:hover
    opacity: .9
    box-shadow: 5px 5px var(--indigo10)



  i
    vertical-align: middle;
    line-height: 1.5
    

  a
    color: var(--indigo11)
    display: flex
    align-items: center
    font-weight: $medium

  &.icon-btn
    a
      padding-right: 2px
    i
      position: relative;
      top: -1px

  &.ghost
    font-size: $xl
    background-color: transparent;
    border: none;
    box-shadow: none;
  
  &.md
    font-size: $xl
    
    a
      i
        margin-top: -2px

  &.lg
    font-size: $xl
    height: 48px
    
    a
      padding-right: 2px
      
      i
        font-size: $2xl
        margin-top: -2px

i
  line-height: 1.5

  span
    vertical-align: middle;

.work-btn
  i
    transform: scaleX(-1)


.dark-theme
  .button
    background-color: var(--indigo1)
    box-shadow: 4px 4px var(--indigo6)
    &:hover
      opacity: .9
      box-shadow: 5px 5px var(--indigo6)

  