/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/
  
.button
  background-color: var(--crimson2)
  border: 1px solid var(--crimson7)
  box-shadow: $button-shadow
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  font-family: $font-family-roboto
  padding: 16px 20px
  gap: 8px;
  border-radius: $round
  transition: 0.2s ease all
  &:hover
    opacity: .9

  i
    vertical-align: middle;
    line-height: 1.5

  a
    color: var(--crimson12)
    display: flex
    align-items: center
    font-weight: $medium

  &.icon-btn
    a
      padding-right: 2px
    i
      position: relative;
      top: -1px

  &.ghost
    font-size: $xl
    background-color: transparent;
    border: none;
    box-shadow: none;
  
  &.md
    font-size: $xl
    
    a
      i
        margin-top: -2px

  &.lg
    font-size: $xl
    height: 48px
    
    a
      padding-right: 2px
      
      i
        font-size: $2xl
        margin-top: -2px

i
  line-height: 1.5

  span
    vertical-align: middle;

.work-btn
  i
    transform: scaleX(-1)

.primary
  color: var(--crimson10)
