/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/
  
.button
  background-color: var(--crimson1)
  border: 1px solid var(--crimson12)
  box-shadow: $button-shadow
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 8px
  gap: 8px;
  border-radius: $round
  transition: 0.2s ease all
  &:hover
    opacity: .8

  i
    vertical-align: middle;
    line-height: 1.5

  a
    color: var(--crimson12)
    display: flex
    align-items: center
    gap: 8px
    font-weight: $medium

  &.ghost
    font-size: $xl
    background-color: transparent;
    border: none;
    box-shadow: none;
  
  &.md
    font-size: $xl
    
    a
      i
        margin-top: -2px

  &.lg
    font-size: $xl
    height: 48px
    
    a
      i
        font-size: $2xl
        margin-top: -2px

i
  line-height: 1.5

  span
    vertical-align: middle;

  
