/*--------------------------------------------------------------------
* $CONTENT
--------------------------------------------------------------------*/

body
  -webkit-font-smoothing: antialiased;

.content
  max-width: 1176px
  flex-wrap: wrap;
  @media (max-width: 768px)
    margin 0 16px;

  section
    padding: 64px 44px

.title
  margin-bottom: 1rem;

figcaption
  margin-bottom: 16px;