/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

footer
  background-color: var(--mauve3);
  border-top: $border
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;

  p
    margin-bottom: 0
  
  i
    color: var(--crimson10)