/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

footer
  background-color: var(--mauve3);
  border-top: $border
  text-align: center;
  padding: 24px 32px
  min-height: 100px;

  .wrapper
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1664px;
    margin: 0 auto;
    flex-wrap: wrap

    .copy
      text-align: left

    .social
      text-align: right

    @media screen and (max-width: 768px)
      flex-direction: column
      justify-content: flex-start

      .copy
        order: 2
        flex-basis: 100%
        margin-bottom: 8px
        
      .social
        order: 1
        flex-basis: 100%
        margin-bottom: 16px

  p
    margin-bottom: 0
  
  i
    color: var(--teal10)

  .social
    ul
      justify-content: unset;
      display: flex;
      gap: 8px;

    li 
      margin-top: 0;
      display: inline;

    a
      font-size: $3xl
      transition: 0.2s ease all
      &:hover
        opacity: .8

@media screen and (max-width: 320px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


    