/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/
header
  background-color: var(--mauve3);
  border-bottom: $border
  padding: 24px 32px

  @media screen and (max-width: 768px)
    padding: 16px

  .wrapper
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1664px;
    margin: 0 auto;

    .logo
      flex-basis: 45%
      
    .nav
      flex-basis: 45%
      text-align: right

    @media screen and (max-width: 768px)
      flex-direction: column
      justify-content: flex-start

      .logo
        flex-basis: 100%
        margin-bottom: 16px
        
      .main-nav
        flex-basis: 100%
        margin-bottom: 8px


    h2
      font-size: $2xl
      text-align: left

      a
        color:var(--crimson12)
        transition: 0.2s ease all
        &:hover
          opacity: .8

      i
        color: var(--crimson10)



    .main-nav
      font-size: $lg

      @media screen and (max-width: 768px)
        font-size: $xl
      
      li
        display: inline-block;
        
      li:not(:last-child)
        margin-right: 24px;
        @media screen and (max-width: 768px)
          margin-right: 16px

      i
        vertical-align: middle;
        font-size: $lg

        @media screen and (max-width: 768px)
          font-size: $xl

      a
        color: var(--mauve12)
        transition: 0.2s ease all
        &:hover
          opacity: .8

      #toggle-btn
        cursor: pointer
        // border: 1px solid var(--crimson12)
        // box-shadow: $button-shadow
        // border-radius: $round
        // padding: 8px;
        font-size: 10px;
        position: relative;
        top: -2px;
        
        i
          position: relative;
          top: -2px;
          vertical-align: middle
          font-size: $md


@media screen and (max-width: 320px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}