/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/
header
  background-color: var(--mauve3);
  border-bottom: $border
  padding: 24px 32px

  .wrapper
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1664px;
    margin: 0 auto;

    h2
      font-size: $2xl
      text-align: left

      a
        color:var(--mauve12)
        transition: 0.2s ease all
        &:hover
          opacity: .8

      i
        color: var(--crimson10)



    .main-nav
      font-size: $lg
      
      li
        display: inline-block;
        
      li:not(:last-child)
        margin-right: 24px;

      i
        vertical-align: middle;
        font-size: $lg

      a
        color: var(--mauve12)
        transition: 0.2s ease all
        &:hover
          opacity: .8
