/*--------------------------------------------------------------------
* $TYPE
--------------------------------------------------------------------*/

body
  font-family: $font-family-raleway
  font-size: $md
  color: var(--mauve12)
  line-height: 1.5;

h1, h2, h3
  font-family: $font-family-roboto
  font-weight: $medium

h1
  font-size: $3xl

h2
  font-size: $2xl

h3
  font-size: $2xl
  margin-bottom: 1rem

h4
  font-size: $xl
  margin-bottom: 1rem

p
  font-size: $lg
  margin-bottom: 1rem
  font-family: $font-family-raleway



.mono
  font-family: $font-family-roboto-mono
  color: var(--mauve11)



a
  text-decoration: none
  color: var(--crimson10) 
  transition: 0.2s ease all
  &:hover
    opacity: .8

small
  font-size: $sm

em
  font-style: italic

.light
  font-weight: $light