/*--------------------------------------------------------------------
* $TYPE
--------------------------------------------------------------------*/

body
  font-family: $font-family-work-sans
  font-size: $md
  color: var(--mauve12)
  line-height: 1.5;

h1
  font-size: $4xl
  font-weight: $medium

h2
  font-size: $2xl
  font-weight: $medium

h3
  font-size: $xl
  font-weight: medium
  margin-bottom: 1rem

p
  font-size: $md
  margin-bottom: 1rem

a
  text-decoration: none
  color: var(--crimson10) 