@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  ::selection {
    background-color: #E6FFFD;
    color: #171717;
  }
}

@layer utilities {
  .text-justify-all {
    text-align: justify;
    text-align-last: justify;
  }
}
