extends layout

block vars
  - var pageDescription = 'Kate Farrar is a designer living in Colorado.'
  - var bodyClass = 'animate__animated animate__fadeIn work'
  - var currentPage = 'Work'

block title
  | Recent Work - 

block content

  include includes/header

  .content

    section
      h1 
        i.ph-duotone.ph-broadcast
        | Incident Declaration

      h3 Re-imagining the Incident Declaration experience in the web UI to provide a streamlined and improved experience.

      p.meta Lead Product Designer

      h3 The Team

      p.meta Head of Product, Technical Lead

      h3 Dates 

      p.meta 2022-2023

      img(src="/assets/images/feature-signals-4.png" width="100%" alt="FireHydrant Design System web interface") 



      h2 Background

      h2 The Problems

      h3 UX
      p One of the main value points of the product FireHydrant product is the ability to declare an incident in seconds. At this time a majority of our users relied on our Slack app, but the ones that used the FireHydrant web UI had a feature limited experience.

      h3 Business
      p Large orgs were hesitant to adopt widely adopt FireHydrant because of the gap in user experience between Slack and the web UI.Orgs that didn't use Slack were not confident in choosing FireHydrant as their Incident Management solution because of the shortcomings of the web UI particularly in regards to Incident Declaration.



      h2 Audit of current experience 

      h2 Challenges

      h2 Goals

      h2 Research

      h2 Information Architecture

      h2 Prototypes

      h2 Testing 

      h2 Phased Rollout

      h2 Updated UI

      blockquote "We love that that the form defaults to just showing required fields as it keeps cognitive load low."

      blockquote "Wow, this is a level up. This is really cool. When can we roll this out to all of our team?."








  include includes/footer



