extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product design leader in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block content

  include includes/header

  .content

    section#intro
      .icons
        //- .column-one
        //-   img(src='/assets/images/kate-2022.jpg' alt="Kate Farrar")
        span.icon
          i.ph-duotone.ph-books
        span.icon
          i.ph-duotone.ph-baseball-cap
        span.icon
          i.ph-duotone.ph-dog
        span.icon
          i.ph-duotone.ph-cat
        span.icon
          i.ph-duotone.ph-vinyl-record
        span.icon
          i.ph-duotone.ph-heart


      div
        h1 Hello! I'm Kate.

        h2 I'm an inclusive design leader dedicated to building meaningful user experiences through cross-team collaboration.

        div
          span.button.lg
            a(href='/work') #[i.ph.ph-lightbulb] View my work    

  include includes/footer
