extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product design leader in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block content

  include includes/header

  .content

    section#intro
      img(src="/assets/images/shelf.svg" alt="bookshelf")

      div
        h1 Hello! I'm Kate.

        h2 I'm an inclusive design leader dedicated to building meaningful user experiences through cross-team collaboration.

        div
          span.button.lg
            a(href='/work') #[i.ph.ph-lightbulb] View my work    

  include includes/footer
