extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product design leader in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block content

  include includes/header

  .content

    section#intro
      .row
        .column-one
          img(src='https://placehold.co/268x268/000000/FFF' width='268px')

        .column-two
          h1 Hello! I'm Kate.

          h2 I'm a design leader committed to building teams that are rooted in user-centered design and cross-functional collaboration.

          .button.lg
            a(href='https://www.linkedin.com/in/katefarrar/') #[i.ph.ph-linkedin-logo] Let's connect

    section 
      h2.title Experience

      h3 I am currently a Staff Product Designer at <a href="https://firehydrant.com">FireHydrant</a>.

      p In the past I've had the privilege of working on the product teams at Elastic, Bonusly, &yet, TeamSnap, & CauseLabs.

      a(href="/work") See more work

  include includes/footer
