extends layout

block vars
  - var pageDescription = 'Kate Farrar is a designer living in Colorado.'
  - var bodyClass = 'animate__animated animate__fadeIn work'
  - var currentPage = 'Work'

block title
  | Recent Work - 

block content

  include includes/header

  .content.projects

    section
      h1.title
        i.ph-fill.ph-package
        | Package Driven Observability

      h3 Delivering holistic platform value during onboarding with integration-specific, ready-to-use features.

    img.feature(src="/assets/images/feature-signals-4.png" width="100%" alt="FireHydrant Design System web interface")

    .callout-wrap
      .row
        .column
          div
            h3 The Product
            p Elastic Observability
              i.ph.ph-arrow-square-out

          div
            h3 My Role 
            p Lead Product Designer

        .column 
          div
            h3 The Team
            p Technical Lead, 3 Senior Engineers

          div
            h3 Timeframe
            p 2022

    section
      h2 Summary

      p In early 2022, my Technical Lead and I were tasked with finding a way to drive more users to the Observability platform during onboarding. I lead the project alongside an Engineering Technical Lead. We worked across the Observability organization as well as with the Elastic UI design system team to establish cohesion throughout the product. The following case study shows the end to end product design effort which resulted in a Saved Views feature being implemented in the Observability Logs solution.

    section
      h2 Research

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      p I conducted five, hour-long user interviews with a mix a of internal users, external users, and Solutions Architecrs. I used Zoom to conduct the interviews and the Dovetail platform to synthesize interviews and pull out themes.

      h3 Challenges

      p Guiding the user without asking leading questions that will simply validate our hypothesis. Getting feedback on the current experience while still allowing for the user to present their ideal experience.


      h3 Key Findings
      ul
        li Users want to see their data in context out of the box without having to build complex Dashboards.
        li Current experience is disjointed. Onboarding doesn't flow well into Observability solution.
        li Different roles have different needs.
        li Users range from beginners to "power users"

    section
      h2 Design Workshop

      p After synthesizing the findings from research, I lead a Design Workshop with my Technical Lead and a Senior Engineer on our team. Using a combination of Design Thinking and Human Cenetered Design methodologies, I focused our time around four areas:

      ol 
        li Empathizing with our users
        li Defining the problem
        li Ideating on solutions
        li Understanding technical limitations

      .callout.italic.accent
        p How might we provide a way for users to see the data they are in ingesting in context without having to set up Dashboards or complex filters?

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      p The outcome of the workshop was a well defined problem statement, several concepts to test, and a better understanding of technical limitations and concepts.

    section
      h2 Early Concepts

      p The next step after the workshop was to spend some time designing to test the concepts that we had explored. Because we wanted to move quickly and were still in early exploration, I opted to do lo-fidelity mockups with limited detail that focused on the user interactions.

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

    section
      h2 Prototypes + Feedback

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      h3 User Persona Validation

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      h3 Implementation Plan

      .callout.italic.accent
        p How can we break this work into phases and provide users with small improvements as opposed to building this all as one huge feature?

      p What existing functionality can we use? What needs to be built?

      p Phase 1: Nginx Logs views

      p Phase 2: index selection &amp; data views,  selection search

      p Phase 3: Metrics


    section
      h2 Technical Preview

      p Artoo-Detoo, where are you? At last! Where have you been? They're heading in this direction.

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")

    .callout.quote
      i.ph-duotone.ph-chat-text
      blockquote.inner
        | "How soon can we get this functionality across Observability?"
        div
          cite - Product Lead, Observability

    section
      h2 Next Steps

      p Artoo-Detoo, where are you? At last! Where have you been? They're heading in this direction.

      img(src="https://placehold.co/600x400" width="100%" alt="FireHydrant Design System web interface")


  include includes/footer



