extends layout

block vars
  - var pageDescription = 'Pride 2024'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block title
  | Pride 2024 -

block content
  .pride-2024
    .guide
      .wrap
        h1.animate__animated.animate__pulse.animate__repeat-3.animate__delay-1s.1s Zoom in to see details!
          i.ph-duotone.ph-arrow-fat-lines-down

      img(src="/assets/images/pride-2024.png" width="100%")