extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product design leader in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block content

  .pride-2024

    .guide
      h1 Scroll down to see more!
        i.ph-duotone.ph-arrow-fat-lines-down

      img(src="/assets/images/pride-2024.svg" width="100%")