extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animate__animated animate__fadeIn work'

block title
  | Recent Work - 

block content

  include includes/header

  .content

    section
      .intro
        h1.title Work Experience

        h3 I'm currently a Senior Product Design Manager at 
          span
            i.ph.ph-fire.inline
            span FireHydrant.

        h4 Visit 
          <a href="https://firehydrant.com/blog" target="_blank">firehydrant.com/blog</a> 
          span to see what we've been building lately.

      .inner

        h3 Previously:

        ul 
          li
            i.ph.ph-binoculars
            a(href="https://elastic.com" target="_blank") Elastic

          li
            i.ph.ph-gift
            a(href="https://bonus.ly" target="_blank") Bonusly

          li
            i.ph.ph-pizza
            a(href="https://andyet.com" target="_blank") &yet

          li
            i.ph.ph-strategy
            a(href="https://teamsnap.com" target="_blank") TeamSnap

          li
            i.ph.ph-hand-heart
            a(href="https://causelabs.com" target="_blank") CauseLabs        


      .callout
        i.ph.ph-question

        .div
          h3 Interested in seeing Case Studies?
          h4
            a(href='mailto:kate.farrar@gmail.com') Email me for access.


  include includes/footer



