extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animate__animated animate__fadeIn work'

block title
  | Recent Work - 

block content

  include includes/header

  .content

    section
      h1.title Experience 

      .intro 

        h3 I'm currently a Staff Product Designer at <a href="https://firehydrant.com">FireHydrant</a>.

        p In the past I've had the privilege of working on the product teams at 
          a(href="https://elastic.com" target="_blank") Elastic
          | , 
          a(href="https://bonus.ly" target="_blank") Bonusly
          | , 
          a(href="https://andyet.com" target="_blank") &yet
          | , 
          a(href="https://teamsnap.com" target="_blank") TeamSnap
          | and 
          a(href="https://causelabs.com" target="_blank") CauseLabs
          | .

        p Additional case studies available 
          a(href="mailto:kate.farrar@gmail.com") upon request.

      .case-studies
        h3 Case Studies
        .work-grid

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/bonusly-header.png')

            .work-info
              div
                h3 Bonusly

                p Bonusly is a fun, personal employee recognition and rewards program.

                .tags 
                  span Lead Product Designer

                .button
                  a(href='/work-bonusly') View Case Study

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/ba-header.png')

            .work-info
              div
                h3 Balancing Act

                p An online experience to engage citizens in public budgeting.

                .tags 
                  span Lead Product Designer
                  span Branding

                .button.secondary
                  a(href='/work-ba') View Case Study

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/b2p-header.png')

            .work-info
              div
                h3 Brides to Prosperity

                p Design workshop to develop a prototype tablet app.

                .tags 
                  span Lead Product Designer
                  span Workshop Facilitatior

                .button.secondary
                  a(href='/work-b2p') View Case Study
        .work-links

          h3 Around the Web
          .links
            .link-item
              h3 
                a(href='http://openideo.com/chapters' target='_blank') 
                  span
                    i.ph.ph-user-circle 
                  span Open Ideo
              div.tags
                span product design
                span responsive web 
                span front end dev
            .link-item
              h3 
                a(href='http://heroku.com' target='_blank') 
                  span
                    i.ph.ph-database 
                  span Heroku
              div.tags
                span product design
                span responsive web 
                span front end dev
            .link-item
              h3 
                a(href='http://moneythink.org' target='_blank') 
                  span
                    i.ph.ph-bank 
                  span Moneythink
              div.tags
                span product design
                span iOS 
                span Android
            .link-item
              h3 
                a(href='http://simplewebrtc.com/' target='_blank') 
                  span
                    i.ph.ph-chat 
                  span SimpleWebRTC
              div.tags
                span product design
                span responsive web 
                span front end dev
            .link-item
              h3 
                a(href='https://causelabs.com' target='_blank') 
                  span
                    i.ph.ph-rocket-launch 
                  span CauseLabs
              div.tags
                span product design
                span front end dev
            .link-item
              h3 
                a(href='https://thrivenetworks.org/thrive-water/' target='_blank') 
                  span
                    i.ph.ph-drop 
                  span Thrive Networks
              div.tags
                span product design
                span front end dev

  include includes/footer



