extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animate__animated animate__fadeIn work'
  - var currentPage = 'Work'

block title
  | Recent Work - 

block content

  include includes/header

  .content

    section
      //- .intro
      //-   h1.title
      //-     i.ph.ph-pen-nib
      //-     | Work

      //-     p I'm an inclusive design leader dedicated to building meaningful user experiences through cross-team collaboration.


      .work-card
        .info
          h2 
            i.ph-duotone.ph-broadcast
            | Signals


          p New product offering to add Alerting and On-Call functionality to the FireHydrant Incident Management platform.

          a.button(href="/work/signals") View project

        img(src="/assets/images/feature-signals-4.png" alt="FireHydrant Design System web interface")

      .work-card 
        .info
          h2 FireHydrant Design System

          p Complete redesign of the FireHydrant product along with a Figma Design System UI kit that ties to a front-end theme in React.

          a.button(href="/work/fh-design-system") View project

        img(src="/assets/images/feature-design-system-2.png" alt="FireHydrant Design System web interface")

      .work-card 
        .info
          h2 Incident Declaration

          p Re-imagining the FireHydrant Incident Declaration experience in the web UI to provide a streamlined and improved experience.

          a.button(href="/work/incident-declaration") View project

        img(src="/assets/images/feature-signals.png" alt="FireHydrant Design System web interface")

      .experience
        h2 Previous experience

        .row
          a.work-row.first(href="https://elastic.co" target="_blank" rel="noopener noreferrer" aria-label="Visit Elastic (opens in new tab)")
            .col-one
              .name
                i.ph.ph-binoculars(aria-hidden='true')
                | Elastic&nbsp;
              span Senior Product Designer
            .col-two.mono 2020 - 2022

        .row
          a.work-row(href="https://bonus.ly" target="_blank" rel="noopener noreferrer" aria-label="Visit Bonusly (opens in new tab)")
            .col-one
              .name 
                i.ph.ph-gift(aria-hidden='true')
                | Bonusly&nbsp;
              span Lead Product Designer
            .col-two.mono 2019 - 2020


        .row
          a.work-row(href="https://andyet.com" target="_blank" rel="noopener noreferrer" aria-label="Visit &yet (opens in new tab)")
            .col-one
              .name
                i.ph.ph-pizza(aria-hidden='true')
                | &yet&nbsp;
              span Product Designer
            .col-two.mono 2017 - 2019


        .row
          a.work-row(href="https://teamsnap.com" target="_blank" rel="noopener noreferrer" aria-label="Visit TeamSnap (opens in new tab)")
            .col-one
              .name
                i.ph.ph-strategy(aria-hidden='true')
                | TeamSnap&nbsp;
              span Product Designer
            .col-two.mono 2017


        .row
          a.work-row(href="https://causelabs.com" target="_blank" rel="noopener noreferrer" aria-label="Visit CauseLabs (opens in new tab)")
            .col-one
              .name
                i.ph.ph-hand-heart(aria-hidden='true')
                | CauseLabs&nbsp;
              span Lead Product Designer
            .col-two.mono 2014 - 2017

        .row
          a.work-row(href="https://meltmedia.com/" target="_blank" rel="noopener noreferrer" aria-label="Visit meltmedia (opens in new tab)")
            .col-one
              .name
                i.ph.ph-code(aria-hidden='true')
                | meltmedia&nbsp;
              span Web Developer Team Lead
            .col-two.mono 2010 - 2013

        .row
        .work-row.no-hover
          .col-one
            .name
              i.ph.ph-lightning(aria-hidden='true')
              | Kate Farrar Creative&nbsp;
            span Principal Designer & Developer
          .col-two.mono 2006 - 2014



  include includes/footer



