extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animate__animated animate__fadeIn work'

block title
  | Recent Work - 

block content

  include includes/header

  .content

    section
      .intro
        h1.title
          i.ph.ph-pen-nib
          | Work

        p I currently lead the Product Design team at 
          span
            i.ph.ph-fire.inline(aria-hidden='true')
            | FireHydrant. Visit 
          a(href="https://firehydrant.com/blog" target="_blank" rel="noopener noreferrer" aria-label="Visit the FireHydrant blog (opens in new tab)")
            | firehydrant.com/blog 
          span to see what we've been building lately.

      .experience
        h2 Previous experience

        .row
          a.work-row.first(href="https://elastic.co" target="_blank" rel="noopener noreferrer" aria-label="Visit Elastic (opens in new tab)")
            .col-one
              .name
                i.ph.ph-binoculars(aria-hidden='true')
                | Elastic&nbsp;
              span Senior Product Designer
            .col-two.mono 2020 - 2022

        .row
          a.work-row(href="https://bonus.ly" target="_blank" rel="noopener noreferrer" aria-label="Visit Bonusly (opens in new tab)")
            .col-one
              .name 
                i.ph.ph-gift(aria-hidden='true')
                | Bonusly&nbsp;
              span Lead Product Designer
            .col-two.mono 2019 - 2020


        .row
          a.work-row(href="https://andyet.com" target="_blank" rel="noopener noreferrer" aria-label="Visit &yet (opens in new tab)")
            .col-one
              .name
                i.ph.ph-pizza(aria-hidden='true')
                | &yet&nbsp;
              span Product Designer
            .col-two.mono 2017 - 2019


        .row
          a.work-row(href="https://teamsnap.com" target="_blank" rel="noopener noreferrer" aria-label="Visit TeamSnap (opens in new tab)")
            .col-one
              .name
                i.ph.ph-strategy(aria-hidden='true')
                | TeamSnap&nbsp;
              span Product Designer
            .col-two.mono 2017


        .row
          a.work-row(href="https://causelabs.com" target="_blank" rel="noopener noreferrer" aria-label="Visit CauseLabs (opens in new tab)")
            .col-one
              .name
                i.ph.ph-hand-heart(aria-hidden='true')
                | CauseLabs&nbsp;
              span Lead Product Designer
            .col-two.mono 2014 - 2017

        .row
          a.work-row(href="https://meltmedia.com/" target="_blank" rel="noopener noreferrer" aria-label="Visit meltmedia (opens in new tab)")
            .col-one
              .name
                i.ph.ph-code(aria-hidden='true')
                | meltmedia&nbsp;
              span Web Developer Team Lead
            .col-two.mono 2010 - 2013

        .row
        .work-row.no-hover
          .col-one
            .name
              i.ph.ph-lightning(aria-hidden='true')
              | Kate Farrar Creative&nbsp;
            span Principal Designer & Developer
          .col-two.mono 2006 - 2014




      .callout
        i.ph.ph-question(aria-hidden='true')
        .inner
          h3 Interested in seeing Case Studies?
          a(href='mailto:kate.farrar@gmail.com' aria-label='Email Kate Farrar to request access to case studies') Email me for access.



  include includes/footer



