extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animate__animated animate__fadeIn work'

block title
  | Recent Work - 

block content

  include includes/header

  .content

    section
      .intro
        h1.title Work

        h3 I'm currently a Senior Product Design Manager at 
          span
            i.ph.ph-fire.inline(aria-hidden='true')
            | FireHydrant.

        h4 Visit 
          a(href="https://firehydrant.com/blog" target="_blank" rel="noopener noreferrer" aria-label="Visit the FireHydrant blog (opens in new tab)")
            | firehydrant.com/blog 
          span to see what we've been building lately.

      .experience
        h3 Previous experience:

        .row
          .col-one
            .name 
              i.ph.ph-binoculars(aria-hidden='true')
              a(href="https://elastic.com" target="_blank" rel="noopener noreferrer" aria-label="Visit Elastic (opens in new tab)")
                | Elastic&nbsp;
            span Senior Product Designer
          .col-two 2020 - 2022

        .row 
          .col-one
            .name 
              i.ph.ph-gift(aria-hidden='true')
              a(href="https://bonus.ly" target="_blank" rel="noopener noreferrer" aria-label="Visit Bonusly (opens in new tab)")
                | Bonusly&nbsp;
            span Lead Product Designer
          .col-two 2019 - 2020


        .row 
          .col-one
            .name
              i.ph.ph-pizza(aria-hidden='true')
              a(href="https://andyet.com" target="_blank" rel="noopener noreferrer" aria-label="Visit &yet (opens in new tab)")
                | &yet&nbsp;
            span Product Designer
          .col-two 2017 - 2019


        .row 
          .col-one
            .name
              i.ph.ph-strategy(aria-hidden='true')
              a(href="https://teamsnap.com" target="_blank" rel="noopener noreferrer" aria-label="Visit TeamSnap (opens in new tab)")
                | TeamSnap&nbsp;
            span Product Designer
          .col-two 2017


        .row 
          .col-one
            .name
              i.ph.ph-hand-heart(aria-hidden='true')
              a(href="https://causelabs.com" target="_blank" rel="noopener noreferrer" aria-label="Visit CauseLabs (opens in new tab)")
                | CauseLabs&nbsp;
            span Lead Product Designer
          .col-two 2014 - 2017

        .row 
          .col-one
            .name
              i.ph.ph-code(aria-hidden='true')
              a(href="https://meltmedia.com/" target="_blank" rel="noopener noreferrer" aria-label="Visit meltmedia (opens in new tab)")
                | meltmedia&nbsp;
            span Web Developer Team Lead
          .col-two 2010 - 2013

        .row 
          .col-one
            .name
              i.ph.ph-lightning(aria-hidden='true')
              | Kate Farrar Creative&nbsp;
            span Principal Designer & Developer
          .col-two 2006 - 2014




      .callout
        i.ph.ph-question(aria-hidden='true')
        .inner
          h3 Interested in seeing Case Studies?
          a(href='mailto:kate.farrar@gmail.com' aria-label='Email Kate Farrar to request access to case studies') Email me for access.



  include includes/footer



