/* --------------------------------------------------------------------
* $VARIABLES
-------------------------------------------------------------------- */
// Type
$font-family-roboto = 'Roboto', sans-serif;
$font-family-mont = 'Montserrat', sans-serif;
$font-family-roboto-mono = 'Roboto Mono', monospace;
$font-family-red-hat =  'Red Hat Display', sans-serif;

$thin = 100;
$light = 300;
$regular= 400;
$medium = 500;
$semibold = 600;
$bold = 700;
$black = 800;
$xs = 0.75rem;
$sm = 0.875rem;

// Font Sizes
$md = 1rem;
$lg = 1.125rem;
$xl = 1.25rem;
$1xl = 1.35rem;
$2xl = 1.5rem;
$3xl = 1.875rem;
$4xl = 2.25rem;
$5xl = 3rem;
$6xl = 3.75rem;
$7xl = 4.5rem;
$8xl = 6rem;
$9xl = 8rem;

// Borders
$border = 2px solid var(--mauve6);
$round = 6px

$border-light = 1px solid var(--mauve6);


// Box shadow
$button-shadow = 0px 0px 5px rgba(247, 97, 144, 0.3);