:root, .light-theme {
  --crimson-1: hsl(332, 100%, 99.4%);
  --crimson-2: hsl(330, 100%, 98.4%);
  --crimson-3: hsl(331, 85.6%, 96.6%);
  --crimson-4: hsl(331, 78.1%, 94.2%);
  --crimson-5: hsl(332, 72.1%, 91.1%);
  --crimson-6: hsl(333, 67.0%, 86.7%);
  --crimson-7: hsl(335, 63.5%, 80.4%);
  --crimson-8: hsl(336, 62.3%, 72.9%);
  --crimson-9: hsl(336, 80.0%, 57.8%);
  --crimson-10: hsl(336, 73.7%, 53.5%);
  --crimson-11: hsl(336, 75.0%, 47.2%);
  --crimson-12: hsl(340, 65.0%, 14.5%);
}