:root, .light-theme {
  --mauve-1: hsl(300, 20.0%, 99.0%);
  --mauve-2: hsl(300, 7.7%, 97.5%);
  --mauve-3: hsl(294, 5.5%, 95.3%);
  --mauve-4: hsl(289, 4.7%, 93.3%);
  --mauve-5: hsl(283, 4.4%, 91.3%);
  --mauve-6: hsl(278, 4.1%, 89.1%);
  --mauve-7: hsl(271, 3.9%, 86.3%);
  --mauve-8: hsl(255, 3.7%, 78.8%);
  --mauve-9: hsl(252, 4.0%, 57.3%);
  --mauve-10: hsl(253, 3.5%, 53.5%);
  --mauve-11: hsl(252, 4.0%, 44.8%);
  --mauve-12: hsl(260, 25.0%, 11.0%);
}