footer
	.wrapper
		.copy
			<i class="ph-bold ph-lightning"></i> Copyright ©<script> document.write(new Date().getFullYear())</script> Kate Farrar

		.social
			<a href="https://linkedin.com/in/katefarrar" target="_blank"><i class="ph ph-linkedin-logo"></a></i> <a href="https://twitter.com/katefarrar" target="_blank"><i class="ph ph-twitter-logo"></i></a> <a href="https://instagram.com/katefarrar" target="_blank"><i class="ph ph-instagram-logo"></i></a> <a href="https://dribbble.com/katefarrar" target="_blank"><i class="ph ph-dribbble-logo"></i></a> <a href="https://github.com/katefarrar" target="_blank"><i class="ph ph-github-logo"></i></a>
