header
  .wrapper
    .logo
      a(href='/' aria-label='Return to homepage')
        i.ph-bold.ph-lightning(aria-label='decorative lightning bolt')
        | Kate Farrar

    .nav
      ul.main-nav(role="navigation")
        li: a(class=(currentPage === 'Work' ? 'active' : ''), href='/work') Work
        li: a(class=(currentPage === 'About' ? 'active' : ''), href='/about') About
        li: a(class=(currentPage === 'Fun' ? 'active' : ''), href='/fun') Fun
        li: a(href='mailto:kate.farrar@gmail.com' aria-label="Email Contact") Contact
        li: a#toggle-btn(role="button" aria-label="Toggle color mode") 
          i#mode-icon(class="ph-bold ph-moon" aria-hidden="true")