header
  .wrapper
    h2
      a(href='/') #[i.ph-bold.ph-lightning] Kate Farrar

    //- .main-nav 
    //-   a(href='mailto:katefarrar@gmail.com') #[i.ph-bold.ph-paper-plane-tilt] Contact

    ul.main-nav 
      li: a(href="/#experience") Experience
      li: a(href="about") About
      li: a(href='mailto:katefarrar@gmail.com') Contact
      li: a(href="#") #[i.ph-bold.ph-moon]
