header
  .wrapper
    h2
      a(href='/') #[i.ph-bold.ph-lightning] Kate Farrar

    .main-nav 
      a(href='mailto:katefarrar@gmail.com') #[i.ph-bold.ph-paper-plane-tilt] Contact

    //- ul.main-nav 
    //-   li: a(href='mailto:katefarrar@gmail.com') #[i.ph-bold.ph-] Contact
    //-   li: a(href="#") #[i.ph-bold.ph-moon]
