/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/
.about
  .content
    display: flex;
    align-items: center;
    
    
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
  }

  .column-one {
    flex: 1;
    max-width: calc(100% - 376px - 44px);
  }

  .column-two {
    max-width: 376px;
  }

  .column-two img {
    width: 100%;
    border-radius: 6px
  }

  .about
    width: 200px

  @media (max-width: 900px) {
    .column-one {
      max-width: 100%;
    }

    .column-two {
      max-width: 100%;
      text-align: center;

      img {
        max-width: 80%;
      }
    }
  }
