/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/
.about
  .content
    display: flex;
    align-items: center;
    
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
  }

  .column-one {
    flex: 1;
    max-width: calc(100% - 376px - 44px);
  }

  .column-two {
    max-width: 376px;
  }

  .column-two img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .column-one {
      max-width: 100%;
    }

    .column-two {
      max-width: 100%;
    }
  }
