/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/
.content
  margin: 0 auto;

.home

  #intro
   .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
  }

  .column-one {
    flex: 0 0 268px;
  }

  .column-one img {
    max-width: 100%;
    height: auto;
  }

  .column-two {
    flex: 1;
  }

  .column-two > * {
    margin-bottom: 20px;
  }


    