/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/

.pride-2024
  background-color: #292629;

  .guide

    .wrap
      background-color: #201E20;
      width: 100%;

      h1
        color: #F5F2E0;
        padding: 20px 0 10px;
        font-size: 24px;
        font-weight: semibold;
        text-align: center;

        i
          margin-left: 8px;

    img
      padding: 0 30px 30px
    

.content
    flex: 1
    margin: 0 auto

.home

  .content
    display: flex
    align-items: center
    
    @media screen and (max-width: 500px)
      margin-top: 64px
      margin-bottom: 64px

  #intro
    padding-top: 0;
    padding-bottom: 0;
    
    h1
      font-size: $4xl
      margin-bottom: 20px;
      margin-top: 40px;
      
      i
        margin-right: 8px;
    
    h2
      font-size: $3xl
      margin-bottom: 40px;
      font-family: $font-family-raleway

    img
      max-width: 99%;
  
  .button
    margin-top: 24px;

    i
      padding-left: 12px;
