/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/

.content
    flex: 1
    margin: 0 auto

.home

  .content
    display: flex
    align-items: center
    
    @media screen and (max-width: 500px)
      margin-top: 64px
      margin-bottom: 64px

  #intro
    padding-top: 100px;
    padding-bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 75%;
    
    h1
      font-size: $6xl
      margin-bottom: 20px;
      margin-top: 40px;
      font-weight: 900
      color: var(--indigo11)
      
      i
        margin-right: 8px;


    .headline
      font-size: $4xl
      color: var(--mauve12)

      span
       display: inline-block;
       line-height: 0.85;
       border-bottom: 6px solid rgba(240, 79, 136, .8)
       text-shadow:
        2px 2px var(--mauve1),
        2px -2px var(--mauve1),
        -2px 2px var(--mauve1),
        -2px -2px var(--mauve1);


    img
      max-width: 99%;

  h2
      font-size: $3xl
      margin-bottom: 40px;

.dark-theme.home 
  #intro h1
    color: var(--indigo11)

  #intro h1.headline
    color: var(--indigo12)

  h2
    color: var(--indigo12)

